<div align="center">

   {{{body}}}
        <form>
            <div class="d-flex justify-content-center">
                <input type="input" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            
            <a type="button" href="./artist-search" class="btn btn-primary d-flex justify-content-center"> Search for an Artist </a>
        </form>
    <img alt="concert" class="img-fluid" src="./images/spotify-background.jpeg" max-width="100%">
</div>
