<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <title> Spotify for BadGuerls </title>
  </head>

<body>

<div>
    {{{body}}}
</div>

  {{!-- <footer>
    <p class="d-flex text-white-50 bg-dark p-3"> Created by Silvia G. A. </p>
  </footer> --}}
</body>

</html>